In [1]:
import numpy as np
import pandas as pd
from scipy import stats as stats
from scipy.stats import ttest_1samp, ttest_rel, ttest_ind, bartlett

# A group of seven patients of rheumatic heart disease with distention of abdomen due to ascites, affecting breathing capacity were treated. Can we say that treatment has improved breathing capacity? Data is in file Rheumatic.csv

In [2]:
rhuem=pd.read_csv(r"C:\Users\patil\Desktop\Know IT CADC\Adv Analytics\Datasets\Rheumatic.csv")
rhuem

   Before  After
0     102    132
1      89    116
2      32     50
3      82     82
4      36     61
5      56     64
6      79     92

In [3]:
# If (Before - After) is < 0
# Then breathing capacity has improved

result = ttest_rel(rhuem['Before'], rhuem['After'], alternative='less')
test_stat = result[0]
p_value = result[1]

print("Test Statistics =" , test_stat)
print("P-value =" , p_value)

# Conclusion: We reject H0 at 5% level of significance
# There may be an improvement in breathing capacity

Test Statistics = -4.176554325821337
P-value = 0.0029179069531987257

# A reacher wants to test whether there is a significant difference in the mean weight of two groups of participants .Perform two-sample t-test at a significant level of 0.05

In [4]:
weight1 = [150,155,160,145,148,152,158,162,155,160,150,153,147,155,149,146,151,159,154,157]
weight2 = [140,145,150,142,135,148,152,142,155,140,142,138,160,145,152,158,156,147,160,161]

In [5]:
result = ttest_rel(weight1 , weight2 )
test_stat = result[0]
p_value = result[1]

print("Test Statistics =" , test_stat)
print("P-value =" , p_value)

# Conclusion: We reject H0 at 5% level of significance
# There is a significant difference in the mean weight of two groups

Test Statistics = 2.262863727786799
P-value = 0.0355503541402054

### Another way

In [6]:
df = {'group1':weight1 , 'group2':weight2}

In [7]:
new_df = pd.DataFrame(df)
new_df.head()

   group1  group2
0     150     140
1     155     145
2     160     150
3     145     142
4     148     135

In [8]:
new_df.to_csv('weight_df.csv' , index=False)

In [9]:
# H0 = Their is no significance difference
# H1 = Their is a significance difference

In [10]:
result = ttest_rel(new_df['group1'] , new_df['group2'] , alternative='two-sided')
test_stat = result[0]
p_value = result[1]

print("Test Statistics =" , test_stat)
print("P-value =" , p_value)

# Conclusion: We reject H0 at 5% level of significance
# There is a significant difference in the mean weight of two groups

Test Statistics = 2.262863727786799
P-value = 0.0355503541402054

In [11]:
# Their is no big difference if we use independence(ind)
result = ttest_ind(new_df['group1'] , new_df['group2'] , alternative='two-sided')
test_stat = result[0]
p_value = result[1]

print("Test Statistics =" , test_stat)
print("P-value =" , p_value)

Test Statistics = 2.3119110342627045
P-value = 0.026298330761445433

In [12]:
co2=pd.read_csv(r"C:\Users\patil\Desktop\Know IT CADC\Adv Analytics\Datasets\CO2.csv")
co2

   Plant         Type   Treatment  conc  uptake
0    Qn1       Quebec  nonchilled    95    16.0
1    Qn1       Quebec  nonchilled   175    30.4
2    Qn1       Quebec  nonchilled   250    34.8
3    Qn1       Quebec  nonchilled   350    37.2
4    Qn1       Quebec  nonchilled   500    35.3
..   ...          ...         ...   ...     ...
79   Mc3  Mississippi     chilled   250    17.9
80   Mc3  Mississippi     chilled   350    17.9
81   Mc3  Mississippi     chilled   500    17.9
82   Mc3  Mississippi     chilled   675    18.9
83   Mc3  Mississippi     chilled  1000    19.9

[84 rows x 5 columns]

In [13]:
chilled = co2[co2['Treatment']=='chilled']
nonchilled = co2[co2['Treatment']=='nonchilled']

In [14]:
chilled

   Plant         Type Treatment  conc  uptake
21   Qc1       Quebec   chilled    95    14.2
22   Qc1       Quebec   chilled   175    24.1
23   Qc1       Quebec   chilled   250    30.3
24   Qc1       Quebec   chilled   350    34.6
25   Qc1       Quebec   chilled   500    32.5
26   Qc1       Quebec   chilled   675    35.4
27   Qc1       Quebec   chilled  1000    38.7
28   Qc2       Quebec   chilled    95     9.3
29   Qc2       Quebec   chilled   175    27.3
30   Qc2       Quebec   chilled   250    35.0
31   Qc2       Quebec   chilled   350    38.8
32   Qc2       Quebec   chilled   500    38.6
33   Qc2       Quebec   chilled   675    37.5
34   Qc2       Quebec   chilled  1000    42.4
35   Qc3       Quebec   chilled    95    15.1
36   Qc3       Quebec   chilled   175    21.0
37   Qc3       Quebec   chilled   250    38.1
38   Qc3       Quebec   chilled   350    34.0
39   Qc3       Quebec   chilled   500    38.9
40   Qc3       Quebec   chilled   675    39.6
41   Qc3       Quebec   chilled  1000    41.4
63   Mc1  Mississippi   chilled    95    10.5
64   Mc1  Mississippi   chilled   175    14.9
65   Mc1  Mississippi   chilled   250    18.1
66   Mc1  Mississippi   chilled   350    18.9
67   Mc1  Mississippi   chilled   500    19.5
68   Mc1  Mississippi   chilled   675    22.2
69   Mc1  Mississippi   chilled  1000    21.9
70   Mc2  Mississippi   chilled    95     7.7
71   Mc2  Mississippi   chilled   175    11.4
72   Mc2  Mississippi   chilled   250    12.3
73   Mc2  Mississippi   chilled   350    13.0
74   Mc2  Mississippi   chilled   500    12.5
75   Mc2  Mississippi   chilled   675    13.7
76   Mc2  Mississippi   chilled  1000    14.4
77   Mc3  Mississippi   chilled    95    10.6
78   Mc3  Mississippi   chilled   175    18.0
79   Mc3  Mississippi   chilled   250    17.9
80   Mc3  Mississippi   chilled   350    17.9
81   Mc3  Mississippi   chilled   500    17.9
82   Mc3  Mississippi   chilled   675    18.9
83   Mc3  Mississippi   chilled  1000    19.9

In [15]:
# H0 = Variance equal
# H1 = Variance unequal

In [16]:
result = bartlett(chilled['uptake'] , nonchilled['uptake'])
test_stat = result[0]
p_value = result[1]

print("Test Statistics =" , test_stat)
print("P-value =" , p_value)

# Conclusion: We do not reject H0 at 5%
# Variance may be equal

Test Statistics = 0.5315695885641828
P-value = 0.46594771841246396

In [17]:
# H0 = Mean equal
# H1 = Mean unequal

In [18]:
result = ttest_ind(chilled['uptake'] , nonchilled['uptake'] , equal_var=True)
test_stat = result[0]
p_value = result[1]

print("Test Statistics =" , test_stat)
print("P-value =" , p_value)

# Conclusion: We reject H0 at 5%
# Mean may be different

Test Statistics = -3.0484611149819503
P-value = 0.0030957332525416484